@import "./friends.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import "./header.css";
@import "./login.css";


.event__CardContainer {
    border: 2px dotted black;
}

body {
    font-family:'Open Sans Condensed', sans-serif;
}

/* .container {
    display: flex;
    flex-direction: row;
} */

.eventList {
    font-weight: bold;
    font-size: 1rem;
    background-color: lavender
}


.dashboard { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lower--container {
    display: flex;
    justify-content: space-evenly;
}

.dashboardHeaders { 
    font-size: 30px;
}